.Person{
    width: 60%;
    margin: 16px auto;
    border: 2px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
    background-color: black;
    color: white;
    transition: .5s;
    border-radius: 25px;
}
.Person:hover{
    background-color: blue;

}
button{
    font: inherit;
    transition: 0.75s;
}
.Person button:hover{
    background-color: red;
    color: white;
   
}
input[type=text]{
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: grey;
}
